<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/create-note.css">
    <title>create note</title>
</head>
<body>
    <section class="container">

        <form action="/add-note" method="POST">
            <div class="hd">
                <input type="text" name="title" id="" maxlength="20" placeholder="Add Title">
                <button type="submit">Done</button>
            </div>
            <textarea name="content" id="" cols="30" rows="10" placeholder="Write your notes here..."></textarea>
        </form>
    </section>
</body>
</html>