<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/note.css">
    <title>note-keeper</title>
</head>
<body>
    <section class="container">
        <div class="form_container">
            <form>
                <div class="input-container">
                    <span><img src="/icons/search.png" alt="search-icon"></span>
                    <input type="search" placeholder="Search notes">
                </div>
            </form>
            <div class="btns">
                <button class="active">All</button>
                <button>Personal</button>
                <button>Office</button>
            </div>
        </div>
        <div class="notes">
            <div class="demo-note">
                <h3>Meeting</h3>
                <p>Excepteur sint occaecat cupidatat non proiden. <span>04:33AM</span></p>
            </div>
            <div class="demo-note">
                <h3>Buying Fruits</h3>
                <p>Excepteur sint occaecat cupidatat non proiden. <span>06:33AM</span></p>
            </div>
            <div class="demo-note">
                <h3>Address</h3>
                <p>Excepteur sint occaecat cupidatat non proiden. <span>14:33PM</span></p>
            </div>
            <div class="demo-note">
                <h3>Packing</h3>
                <p>Excepteur sint occaecat cupidatat non proiden. <span>18:33PM</span></p>
            </div>

        </div>
        <div class="add-btn">
            <span>+</span>
        </div>
    </section>
</body>
</html>