* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #120311;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color:  white;
}

section.container {
    max-width: 1000px;
    margin: 0 auto;
    background: transparent;
    min-height: 100vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section.container .form_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section.container .form_container .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #524848;
    height: 50px;
    width: 100%;
    border-radius: 30px;
    padding: 0 1rem;
    gap: .5rem;
}

section.container .form_container input {
    color: #949292;;
    outline: none;
    border: none;
    font-size: 14px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

section.container .form_container .category-btns {
    display: flex;
    gap: 2rem;
}

section.container .form_container .category-btns button {
    height: 30px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    color: #7D7878;
    border: 1px solid #7D7878;
    cursor: pointer;
    transition: all .4s ease-in;
}

section.container .form_container .category-btns button.active,
section.container .form_container .category-btns button:hover {
    background-color: #524848;
    color: #D9D9D9;
    border: 1px solid transparent;
}

section.container .notes .demo-note {
    position: relative;
    background-color: #302030;
    height: 80px;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    transition: all .3s ease-in;
}

section.container .notes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.container .notes .demo-note h3 {
    color: white;
    font-weight: bold;
    color: white;
}

section.container .notes .demo-note p {
    display: flex;
    justify-content: space-between;
    color: #D9D9D9;
    font-size: .7rem;
}

.add-btn {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #93478F;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-el-cont {
    position: absolute;
    top: 1rem;
    right: 3rem;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}

.edit-el-cont img {
    width: 100%;
    height: 100%;
}

.delete-el {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 99999;
    width: 1rem;
    height: 1rem;
}



/* CSS MODAL */
/* styles.css */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content button {
    margin-top: 2rem;
    margin-right: 1rem;
    padding: .5rem 1rem;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button#confirmDelete {
    background-color: rgb(248, 44, 44);
    color: white;
    border-color: white;
}



@media (max-width: 720px) {
    section.container {
        padding: 1rem;
    }

    section.container .notes .demo-note p {
        font-size: .6rem;
    }

    section.container .form_container .btns button {
        width: fit-content;
        height: fit-content;
        padding: .5rem 1rem;
    }
}